{% extends 'base.html' %}

{% block content %}
<main>
    <section id="post">
        <div class="post-header">
            <h2>{{post.titulo}}</h2>
            <span>{{post.descrição}}</span>
        </div>
        <div class="post-body">
            {{post.conteudo|safe}}
        </div>
        <div class="post-footer">
            <span>{{post.data_criacao}}</span>
            {% if user.is_authenticated %}
            <div>
                <a href="/post_edit/{{post.id}}" class="btn btn-outline-warning m-2 shadow rounded-0">Editar</a>
            <a href="/remove_post/{{post.id}}" class="btn btn-outline-danger m-2 shadow rounded-0">Excluir</a>
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}